.alert{
    margin: 0px;
    background: #f8f8f8;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.alert > h5 {
    margin: 0;
    align-self: center;
}