.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    padding: 20px;
}

.sidebar__container{
    position: inherit !important;
}
