.header{
    background: #f8f8f8;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
}

.header > svg{
    margin: 0px;
    margin-right: 10px;
}

.header > h3 {
    margin: 0;
}

.menu-icon{
    margin: 0px;
    cursor: pointer;
}