.login{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login__box{
    width: max-content;
    height: fit-content;
    padding: 50px;
    padding-left: 0px;
}

.input__wrap > label {
    font-weight: 400;
}

.input__wrap > input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #787399;
    color: #9e9ab5;
}

.input__wrap > select {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #787399;
    color: #9e9ab5;
    background: white;
}

.input__wrap{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.submit__btn{
    padding: 5px 25px 5px 23px;
    width: fit-content;
    font-weight: 500;
    color: #585280;
    background: white;
    border: 1px solid;
}

@media (min-width: 768px) {
    .input__wrap > label {
        font-weight: 400;
        font-size: 20px;
    }
    
    .input__wrap > input {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #787399;
        color: #9e9ab5;
        width: 350px;
        font-size: 20px;
    }

    .input__wrap{
        padding-bottom: 15px;
    }

    .submit__btn {
        padding: 10px 35px 10px 35px;
    }

    .emoji__wrap{
        font-size: 25px;
        /* flex-direction: column; */
    }

    form > i {
        font-size: 18px;
    }

}

.error{
    color: red;
    padding: 5px;
}

@media (max-width: 768px) {
    .login__box{    
        width: auto;
        height: -moz-fit-content;
        height: fit-content;
        padding: 0px;
    }
}