.userInputTab{
    background: #f8f8f8;
    display: flex;
}

.accountSetting{
    flex: 0.5;
    padding: 10px;
    border-right: 1px solid;
    cursor: pointer;
}

.userInfo{
    flex: 0.5;
    padding: 10px;
    cursor: pointer;
}

.userInputTab > p:hover {
    background: #9e9ab5;
}